<p>Hello <%= @discussion.user.full_name %>!</p>

<p><%= @user.full_name %> has commented on your discussion, <%= @discussion.title %>.</p>

<p>Click <%= link_to "here", discussion_url(@discussion) %> to view your discussion.</p>

<p>Regards,</p>
<p>Rails PM Team</p>
